<app-toast [message]="toastMessage" [type]="toastType"></app-toast>

<div class="app-wrapper">
  <app-header *ngIf="showAppHeader()" (toggleNotifications)="toggleNotifications()"
    [notificationCount]="unreadNotificationCount"></app-header>

  <div [class.content-with-header]="showAppHeader()" class="router-outlet-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

<app-notification-modal *ngIf="showNotifications" [notifications]="notifications" (closeModal)="toggleNotifications()"
  (acceptInvitation)="onAcceptInvitation($event)" (declineInvitation)="onDeclineInvitation($event)"
  (notificationClick)="onNotificationClick($event)"></app-notification-modal>