main {
  display: flex;
  direction: row;
}

.side-menu {
  position: relative;
  z-index: 3;
}

.fragment {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  box-shadow: -4px 0 4px rgba(124, 124, 124, 0.116);
  overflow-y: auto;
}
