--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_logs (
    id bigint NOT NULL,
    action_type character varying(255) NOT NULL,
    actor_full_name character varying(255) NOT NULL,
    entity_id bigint NOT NULL,
    entity_name character varying(255) NOT NULL,
    entity_type character varying(255) NOT NULL,
    "timestamp" timestamp(6) without time zone NOT NULL,
    actor_id bigint NOT NULL,
    project_id bigint NOT NULL,
    CONSTRAINT activity_logs_action_type_check CHECK (((action_type)::text = ANY ((ARRAY['REQUEST_ACCEPTANCE'::character varying, 'ACCEPTED_ACCEPTANCE'::character varying, 'REJECTED_ACCEPTANCE'::character varying, 'PROJECT_UPDATED'::character varying, 'STAGE_UPDATED'::character varying, 'STAGE_DELETED'::character varying, 'FILE_ADDED'::character varying, 'FILE_DELETED'::character varying])::text[]))),
    CONSTRAINT activity_logs_entity_type_check CHECK (((entity_type)::text = ANY ((ARRAY['PROJECT'::character varying, 'STAGE'::character varying, 'FILE'::character varying, 'LICENSE'::character varying])::text[])))
);


ALTER TABLE public.activity_logs OWNER TO postgres;

--
-- Name: activity_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.activity_logs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activity_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_message_mentions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_message_mentions (
    message_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.chat_message_mentions OWNER TO postgres;

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_messages (
    id bigint NOT NULL,
    acknowledgement_status character varying(255),
    content text,
    coordination_status character varying(255),
    message_type character varying(255) NOT NULL,
    meta_data text,
    "timestamp" timestamp(6) without time zone NOT NULL,
    attached_file_id bigint,
    conversation_id bigint NOT NULL,
    related_message_id bigint,
    sender_id bigint NOT NULL,
    CONSTRAINT chat_messages_acknowledgement_status_check CHECK (((acknowledgement_status)::text = ANY ((ARRAY['PENDING'::character varying, 'ACKNOWLEDGED'::character varying])::text[]))),
    CONSTRAINT chat_messages_coordination_status_check CHECK (((coordination_status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[]))),
    CONSTRAINT chat_messages_message_type_check CHECK (((message_type)::text = ANY ((ARRAY['TEXT'::character varying, 'ATTACHMENT'::character varying, 'MENTION'::character varying, 'COORDINATION_REQUEST'::character varying, 'ACKNOWLEDGEMENT_REQUEST'::character varying, 'COORDINATION_RESPONSE'::character varying, 'ACKNOWLEDGEMENT_RESPONSE'::character varying, 'SYSTEM_ACTION'::character varying])::text[])))
);


ALTER TABLE public.chat_messages OWNER TO postgres;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.chat_messages ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cities (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.cities OWNER TO postgres;

--
-- Name: cities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cities ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comment (
    id bigint NOT NULL,
    author character varying(255),
    text character varying(255),
    "timestamp" timestamp(6) without time zone,
    document_id integer
);


ALTER TABLE public.comment OWNER TO postgres;

--
-- Name: comment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conversation_participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversation_participants (
    conversation_id bigint NOT NULL,
    participant_id bigint NOT NULL
);


ALTER TABLE public.conversation_participants OWNER TO postgres;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    id bigint NOT NULL,
    last_message_timestamp timestamp(6) without time zone,
    name character varying(255),
    type character varying(255) NOT NULL,
    project_id bigint,
    CONSTRAINT conversations_type_check CHECK (((type)::text = ANY ((ARRAY['PROJECT_CHAT'::character varying, 'PRIVATE_CHAT'::character varying])::text[])))
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: conversations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.conversations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conversations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: document_have_to_sign; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_have_to_sign (
    document_id integer NOT NULL,
    participant_id bigint NOT NULL
);


ALTER TABLE public.document_have_to_sign OWNER TO postgres;

--
-- Name: document_signed; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_signed (
    document_id integer NOT NULL,
    participant_id bigint NOT NULL
);


ALTER TABLE public.document_signed OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    id bigint NOT NULL,
    project_id bigint,
    file_path character varying(255),
    name character varying(255),
    status character varying(255),
    upload_date timestamp(6) without time zone,
    CONSTRAINT documents_status_check CHECK (((status)::text = ANY ((ARRAY['WAITING'::character varying, 'CREATION'::character varying, 'APPROVAL'::character varying, 'SIGNATURE'::character varying, 'REGISTRATION'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: documents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.documents ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.documents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: email_verification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_verification (
    id bigint NOT NULL,
    code character varying(255),
    email character varying(255),
    expiration_time timestamp(6) without time zone
);


ALTER TABLE public.email_verification OWNER TO postgres;

--
-- Name: email_verification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.email_verification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.email_verification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estimate_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estimate_item (
    id bigint NOT NULL,
    name character varying(255),
    quantity real NOT NULL,
    unit character varying(255),
    unit_price real NOT NULL,
    estimate_id integer
);


ALTER TABLE public.estimate_item OWNER TO postgres;

--
-- Name: estimate_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estimate_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estimate_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estimates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estimates (
    overheads_amount real NOT NULL,
    reserve_amount real NOT NULL,
    transport_amount real NOT NULL,
    id integer NOT NULL
);


ALTER TABLE public.estimates OWNER TO postgres;

--
-- Name: files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.files (
    id bigint NOT NULL,
    project_id bigint,
    created_at timestamp(6) without time zone,
    filepath character varying(255),
    name character varying(255),
    size bigint,
    user_id bigint,
    schedule_id bigint,
    task_id bigint,
    document_id integer,
    organisation_id bigint,
    file_type character varying(31) DEFAULT 'FILE'::character varying NOT NULL
);


ALTER TABLE public.files OWNER TO postgres;

--
-- Name: files_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.files ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.files_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: licenses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.licenses (
    license_category_display character varying(255),
    review_status character varying(255),
    id bigint NOT NULL,
    organisation_id bigint,
    rejection_reason character varying(500),
    CONSTRAINT licenses_review_status_check CHECK (((review_status)::text = ANY ((ARRAY['PENDING_REVIEW'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE public.licenses OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    is_read boolean NOT NULL,
    message character varying(255) NOT NULL,
    related_entity_id bigint,
    type character varying(255) NOT NULL,
    project_id bigint,
    recipient_id bigint NOT NULL,
    sender_id bigint,
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['INVITATION'::character varying, 'PROJECT_UPDATE'::character varying, 'FILE_UPLOAD'::character varying, 'TASK_ASSIGNMENT'::character varying, 'MENTION'::character varying, 'STAGE_REACTIVATION'::character varying, 'LICENSE_APPROVED'::character varying, 'LICENSE_REJECTED'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organisation_specializations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organisation_specializations (
    organisation_id bigint NOT NULL,
    specialization character varying(255),
    CONSTRAINT organisation_specializations_specialization_check CHECK (((specialization)::text = ANY ((ARRAY['EARTHWORKS'::character varying, 'FOUNDATION_WORKS'::character varying, 'ROOFING_WORKS'::character varying, 'DEMOLITION_WORKS'::character varying, 'TURNKEY_COTTAGE_AND_VILLA_CONSTRUCTION'::character varying, 'ELECTRICAL_INSTALLATION'::character varying, 'PLUMBING_AND_SEWERAGE'::character varying, 'VENTILATION_AND_AIR_CONDITIONING'::character varying, 'PLASTERING_AND_PAINTING_WORKS'::character varying, 'TILE_LAYING'::character varying, 'LAMINATE_AND_PARQUET_LAYING'::character varying, 'INTERIOR_FINISHING_WORKS'::character varying, 'HIGH_QUALITY_FINE_FINISHING'::character varying, 'HEATING_SYSTEM_INSTALLATION'::character varying, 'LOW_CURRENT_SYSTEMS_INSTALLATION'::character varying, 'FIRE_SAFETY_SYSTEM_INSTALLATION'::character varying, 'WATERPROOFING_WORKS'::character varying, 'INSTALLATION_OF_WINDOWS_DOORS_AND_PARTITIONS'::character varying, 'LANDSCAPING_AND_GREENING_OF_THE_TERRITORY'::character varying, 'ASPHALTING_OF_ROADS_AND_TERRITORIES'::character varying, 'INSTALLATION_OF_CURBS_AND_ROAD_BARRIERS'::character varying])::text[])))
);


ALTER TABLE public.organisation_specializations OWNER TO postgres;

--
-- Name: organisations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organisations (
    field character varying(255),
    jud_address character varying(255),
    organization character varying(255),
    "position" character varying(255),
    specialization character varying(255),
    type character varying(255),
    years_of_experience bigint,
    id bigint NOT NULL,
    status character varying(255),
    CONSTRAINT organisations_specialization_check CHECK (((specialization)::text = ANY ((ARRAY['EARTHWORKS'::character varying, 'FOUNDATION_WORKS'::character varying, 'ROOFING_WORKS'::character varying, 'DEMOLITION_WORKS'::character varying, 'TURNKEY_COTTAGE_AND_VILLA_CONSTRUCTION'::character varying, 'ELECTRICAL_INSTALLATION'::character varying, 'PLUMBING_AND_SEWERAGE'::character varying, 'VENTILATION_AND_AIR_CONDITIONING'::character varying, 'PLASTERING_AND_PAINTING_WORKS'::character varying, 'TILE_LAYING'::character varying, 'LAMINATE_AND_PARQUET_LAYING'::character varying, 'INTERIOR_FINISHING_WORKS'::character varying, 'HIGH_QUALITY_FINE_FINISHING'::character varying, 'HEATING_SYSTEM_INSTALLATION'::character varying, 'LOW_CURRENT_SYSTEMS_INSTALLATION'::character varying, 'FIRE_SAFETY_SYSTEM_INSTALLATION'::character varying, 'WATERPROOFING_WORKS'::character varying, 'INSTALLATION_OF_WINDOWS_DOORS_AND_PARTITIONS'::character varying, 'LANDSCAPING_AND_GREENING_OF_THE_TERRITORY'::character varying, 'ASPHALTING_OF_ROADS_AND_TERRITORIES'::character varying, 'INSTALLATION_OF_CURBS_AND_ROAD_BARRIERS'::character varying])::text[]))),
    CONSTRAINT organisations_status_check CHECK (((status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'BUSY'::character varying])::text[]))),
    CONSTRAINT organisations_type_check CHECK (((type)::text = ANY ((ARRAY['CUSTOMER'::character varying, 'CONTRACTOR'::character varying, 'AUTHOR_SUPERVISON'::character varying, 'TECHNICAL_SUPERVISON'::character varying, 'SUPPLIER'::character varying])::text[])))
);


ALTER TABLE public.organisations OWNER TO postgres;

--
-- Name: participant_invitations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.participant_invitations (
    id bigint NOT NULL,
    accepted boolean NOT NULL,
    can_send_notifications boolean NOT NULL,
    can_upload_documents boolean NOT NULL,
    created_at timestamp(6) without time zone,
    expires_at timestamp(6) without time zone,
    role character varying(255),
    project_id bigint,
    user_id bigint,
    sender_id bigint
);


ALTER TABLE public.participant_invitations OWNER TO postgres;

--
-- Name: participant_invitations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.participant_invitations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.participant_invitations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.participants (
    id bigint NOT NULL,
    can_send_notifications boolean NOT NULL,
    can_upload_documents boolean NOT NULL,
    role character varying(255),
    project_id bigint,
    user_id bigint
);


ALTER TABLE public.participants OWNER TO postgres;

--
-- Name: participants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.participants ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.participants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: phone_verification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.phone_verification (
    id bigint NOT NULL,
    code character varying(255),
    expiration_time timestamp(6) without time zone,
    phone character varying(255)
);


ALTER TABLE public.phone_verification OWNER TO postgres;

--
-- Name: phone_verification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.phone_verification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.phone_verification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: project_notes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_notes (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    author_id bigint NOT NULL,
    project_id bigint NOT NULL
);


ALTER TABLE public.project_notes OWNER TO postgres;

--
-- Name: project_notes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.project_notes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.project_notes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id bigint NOT NULL,
    description character varying(255),
    end_date date,
    name character varying(255),
    start_date date,
    status character varying(255),
    type character varying(255),
    city_id bigint,
    user_id bigint,
    CONSTRAINT projects_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'WAITING'::character varying, 'ACTIVE'::character varying, 'ON_PAUSE'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.projects ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: requirements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.requirements (
    id bigint NOT NULL,
    description character varying(255) NOT NULL,
    sample_file_id bigint,
    task_id bigint NOT NULL
);


ALTER TABLE public.requirements OWNER TO postgres;

--
-- Name: requirements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.requirements ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.requirements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schedules (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    name character varying(255),
    project_id bigint
);


ALTER TABLE public.schedules OWNER TO postgres;

--
-- Name: schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.schedules ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.schedules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stages (
    id bigint NOT NULL,
    contractors character varying(255),
    description character varying(255),
    end_date date,
    name character varying(255),
    resources character varying(255),
    start_date date,
    status character varying(255),
    schedule_id bigint,
    CONSTRAINT stages_status_check CHECK (((status)::text = ANY ((ARRAY['WAITING'::character varying, 'ACTIVE'::character varying, 'ON_PAUSE'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE public.stages OWNER TO postgres;

--
-- Name: stages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stages ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: task_dependencies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_dependencies (
    task_id bigint NOT NULL,
    depends_on_task_id bigint NOT NULL
);


ALTER TABLE public.task_dependencies OWNER TO postgres;

--
-- Name: task_responsible_persons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_responsible_persons (
    task_id bigint NOT NULL,
    participant_id bigint NOT NULL
);


ALTER TABLE public.task_responsible_persons OWNER TO postgres;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    id bigint NOT NULL,
    description character varying(255),
    end_date date,
    executed boolean NOT NULL,
    execution_requested boolean NOT NULL,
    info character varying(255),
    is_priority boolean NOT NULL,
    name character varying(255),
    start_date date,
    participant_id bigint,
    stage_id bigint
);


ALTER TABLE public.tasks OWNER TO postgres;

--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tasks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tasks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    full_name character varying(255),
    iin_bin character varying(255),
    organization character varying(255),
    password character varying(255),
    phone character varying(255),
    city_id bigint,
    user_type character varying(31) DEFAULT 'USER'::character varying NOT NULL,
    role character varying(255) DEFAULT 'USER'::character varying NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: chat_message_mentions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_message_mentions (message_id, user_id) FROM stdin;
45	13
46	17
47	17
48	13
49	13
50	17
51	17
52	13
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cities; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: comment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comment (id, author, text, "timestamp", document_id) FROM stdin;
\.


--
-- Data for Name: conversation_participants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversation_participants (conversation_id, participant_id) FROM stdin;
2	10
2	13
4	17
4	18
5	13
5	17
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversations (id, last_message_timestamp, name, type, project_id) FROM stdin;
2	2026-01-25 12:55:01.583842	Test User & Test User	PRIVATE_CHAT	\N
4	2026-01-25 12:56:00.673761	╨У╨╡╨┤╨░╤В╤Б╤Г ╨Ч╨╛╤А & admin	PRIVATE_CHAT	\N
5	2026-01-28 13:35:33.875953	Ilyas & ╨У╨╡╨┤╨░╤В╤Б╤Г ╨Ч╨╛╤А	PRIVATE_CHAT	\N
8	2026-02-01 20:13:33.606848	╨з╨░╤В ╨┐╤А╨╛╨╡╨║╤В╨░: test	PROJECT_CHAT	23
3	2026-02-02 21:05:57.039248	╨з╨░╤В ╨┐╤А╨╛╨╡╨║╤В╨░: ╨Ю╨▒╨╜╨╛╨▓╨╗╨╡╨╜╨╜╨╛╨╡ ╨╕╨╝╤П	PROJECT_CHAT	18
\.


--
-- Data for Name: document_have_to_sign; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_have_to_sign (document_id, participant_id) FROM stdin;
\.


--
-- Data for Name: document_signed; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_signed (document_id, participant_id) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.documents (id, project_id, file_path, name, status, upload_date) FROM stdin;
1	\N	uploads/doc1.pdf	╨Ф╨╛╨║╤Г╨╝╨╡╨╜╤В тДЦ1	WAITING	2025-06-29 19:17:42.81
\.


--
-- Data for Name: email_verification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_verification (id, code, email, expiration_time) FROM stdin;
57	958042	gkey2014@gmail.com	2025-08-19 12:18:10.901896
92	423483	baiangali1234421@gmail.com	2026-02-02 12:28:50.752945
\.


--
-- Data for Name: estimate_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estimate_item (id, name, quantity, unit, unit_price, estimate_id) FROM stdin;
\.


--
-- Data for Name: estimates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estimates (overheads_amount, reserve_amount, transport_amount, id) FROM stdin;
\.


--
-- Data for Name: files; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: licenses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.licenses (license_category_display, review_status, id, organisation_id, rejection_reason) FROM stdin;
╨Ы╨╕╤Ж╨╡╨╜╨╖╨╕╤П	APPROVED	112	39	\N
╨У╨б╨Ы 1,2,3 ╨║╨░╤В╨╡╨│╨╛╤А	APPROVED	100	17	\N
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organisation_specializations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organisation_specializations (organisation_id, specialization) FROM stdin;
36	ROOFING_WORKS
36	PLASTERING_AND_PAINTING_WORKS
36	FOUNDATION_WORKS
39	INSTALLATION_OF_CURBS_AND_ROAD_BARRIERS
39	TURNKEY_COTTAGE_AND_VILLA_CONSTRUCTION
39	PLASTERING_AND_PAINTING_WORKS
39	DEMOLITION_WORKS
17	EARTHWORKS
17	TILE_LAYING
\.


--
-- Data for Name: organisations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organisations (field, jud_address, organization, "position", specialization, type, years_of_experience, id, status) FROM stdin;
╨У╤А╨░╨╢╨┤╨░╨╜╤Б╨║╨╛╨╡ ╤Б╤В╤А╨╛╨╕╤В╨╡╨╗╤М╤Б╤В╨▓╨╛	╨│. ╨Р╨╗╨╝╨░╤В╤Л, ╨┐╤А. ╨Р╨▒╨░╤П 15	╨в╨Ю╨Ю "╨б╤В╤А╨╛╨╣╨Я╨╗╤О╤Б"	╨У╨╗╨░╨▓╨╜╤Л╨╣ ╨╕╨╜╨╢╨╡╨╜╨╡╤А	\N	CONTRACTOR	10	36	\N
╨б╤В╤А╨╛╨╕╤В╨╡╨╗╤М╤Б╤В╨▓╨╛	╨│. ╨Р╨╗╨╝╨░╤В╤Л, ╤Г╨╗. ╨Р╨▒╨░╤П, 100	╨в╨Ю╨Ю '╨б╤В╤А╨╛╨╕╤В╨╡╨╗╤М╨╜╤Л╨╡ ╨в╨╡╤Е╨╜╨╛╨╗╨╛╨│╨╕╨╕'	╨Ш╤Б╨┐╨╛╨╗╨╜╨╕╤В╨╡╨╗╤М╨╜╤Л╨╣ ╨┤╨╕╤А╨╡╨║╤В╨╛╤А	EARTHWORKS	CONTRACTOR	20	17	\N
dr	syfa	\N	dre	\N	CUSTOMER	3	39	AVAILABLE
\.


--
-- Data for Name: participant_invitations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.participant_invitations (id, accepted, can_send_notifications, can_upload_documents, created_at, expires_at, role, project_id, user_id, sender_id) FROM stdin;
30	f	t	f	2025-08-19 15:09:21.369038	2025-08-22 15:09:21.369038	╨Я╨╛╨┤╤А╤П╨┤╤З╨╕╨║	18	10	\N
\.


--
-- Data for Name: participants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.participants (id, can_send_notifications, can_upload_documents, role, project_id, user_id) FROM stdin;
19	t	t	╨Я╨╛╨┤╤А╤П╨┤╤З╨╕╨║	18	13
\.


--
-- Data for Name: phone_verification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.phone_verification (id, code, expiration_time, phone) FROM stdin;
1	962268	2025-06-15 19:08:53.543332	+77011230000
5	605086	2025-06-15 19:54:34.398571	+77011230001
15	605382	2025-06-30 19:50:39.939304	+77475590168
\.


--
-- Data for Name: project_notes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_notes (id, content, created_at, author_id, project_id) FROM stdin;
1	╤В╨╡╤Б╤В	2026-01-28 15:38:08.279339	17	18
2	╤В╨╡╤Б╤В2	2026-01-28 15:38:20.336299	17	18
3	╤В╨╡╤Б╤В3	2026-01-28 15:38:34.36189	13	18
5	╤В╨╡╤Б╤В	2026-02-04 16:22:50.000803	17	23
6	╤В╨╡╤Б╤В	2026-02-04 16:23:17.597183	13	18
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.projects (id, description, end_date, name, start_date, status, type, city_id, user_id) FROM stdin;
23	test	2026-02-28	test	2026-02-03	DRAFT	test	22	17
18	╨Э╨╛╨▓╨╛╨╡ ╨╛╨┐╨╕╤Б╨░╨╜╨╕╨╡	2025-09-15	╨Ю╨▒╨╜╨╛╨▓╨╗╨╡╨╜╨╜╨╛╨╡ ╨╕╨╝╤П	2025-07-15	ACTIVE	╨а╨╡╨║╨╛╨╜╤Б╤В╤А╤Г╨║╤Ж╨╕╤П	23	17
\.


--
-- Data for Name: requirements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.requirements (id, description, sample_file_id, task_id) FROM stdin;
48	test	\N	43
55	sdad	98	60
56	ts	105	63
59	gs	\N	66
60	╤Л	106	67
\.


--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schedules (id, created_at, name, project_id) FROM stdin;
17	2025-08-01 20:56:26.999477	╨Э╨░╨╖╨▓╨░╨╜╨╕╨╡	18
21	2026-02-01 19:12:33.761762	╨У╨Я╨а	23
\.


--
-- Data for Name: stages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stages (id, contractors, description, end_date, name, resources, start_date, status, schedule_id) FROM stdin;
18	\N	╨Ч╨░╨╗╨╕╨▓╨║╨░ ╨▒╨╡╤В╨╛╨╜╨░	2025-08-31	1-╤Н╤В╨░╨┐	\N	2025-08-20	ACTIVE	17
34	\N	2	2026-02-28	1-╤Н╤В╨░╨┐	\N	2026-02-13	ACTIVE	21
35	\N	t	2026-02-28	t	\N	2026-02-07	WAITING	21
22	╨в╨Ю╨Ю ╨б╤В╤А╨╛╨╣╨б╨╡╤А╨▓╨╕╤Б	╨а╨░╨▒╨╛╤В╤Л ╨┐╨╛ ╤А╨░╤Б╤З╨╕╤Б╤В╨║╨╡ ╨╕ ╨┐╨╛╨┤╨│╨╛╤В╨╛╨▓╨║e	2025-07-15	3-╤Н╤В╨░╨┐	\N	2025-07-01	COMPLETED	17
19	\N	sdasdsl	2025-08-29	2-╤Н╤В╨░╨┐	\N	2025-08-25	ACTIVE	17
\.


--
-- Data for Name: task_dependencies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_dependencies (task_id, depends_on_task_id) FROM stdin;
61	60
62	61
62	60
\.


--
-- Data for Name: task_responsible_persons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_responsible_persons (task_id, participant_id) FROM stdin;
60	19
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: activity_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activity_logs_id_seq', 106, true);


--
-- Name: chat_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chat_messages_id_seq', 53, true);


--
-- Name: cities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cities_id_seq', 50, true);


--
-- Name: comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comment_id_seq', 1, false);


--
-- Name: conversations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.conversations_id_seq', 8, true);


--
-- Name: documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.documents_id_seq', 6, true);


--
-- Name: email_verification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.email_verification_id_seq', 96, true);


--
-- Name: estimate_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estimate_item_id_seq', 4, true);


--
-- Name: files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.files_id_seq', 115, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 47, true);


--
-- Name: participant_invitations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.participant_invitations_id_seq', 38, true);


--
-- Name: participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.participants_id_seq', 19, true);


--
-- Name: phone_verification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.phone_verification_id_seq', 15, true);


--
-- Name: project_notes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_notes_id_seq', 6, true);


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.projects_id_seq', 23, true);


--
-- Name: requirements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.requirements_id_seq', 60, true);


--
-- Name: schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schedules_id_seq', 21, true);


--
-- Name: stages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stages_id_seq', 35, true);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tasks_id_seq', 67, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 39, true);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: chat_message_mentions chat_message_mentions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_message_mentions
    ADD CONSTRAINT chat_message_mentions_pkey PRIMARY KEY (message_id, user_id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: cities cities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_pkey PRIMARY KEY (id);


--
-- Name: comment comment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment
    ADD CONSTRAINT comment_pkey PRIMARY KEY (id);


--
-- Name: conversation_participants conversation_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_participants
    ADD CONSTRAINT conversation_participants_pkey PRIMARY KEY (conversation_id, participant_id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: email_verification email_verification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification
    ADD CONSTRAINT email_verification_pkey PRIMARY KEY (id);


--
-- Name: estimate_item estimate_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estimate_item
    ADD CONSTRAINT estimate_item_pkey PRIMARY KEY (id);


--
-- Name: estimates estimates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estimates
    ADD CONSTRAINT estimates_pkey PRIMARY KEY (id);


--
-- Name: files files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_pkey PRIMARY KEY (id);


--
-- Name: licenses licenses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: organisations organisations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organisations
    ADD CONSTRAINT organisations_pkey PRIMARY KEY (id);


--
-- Name: participant_invitations participant_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participant_invitations
    ADD CONSTRAINT participant_invitations_pkey PRIMARY KEY (id);


--
-- Name: participants participants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT participants_pkey PRIMARY KEY (id);


--
-- Name: phone_verification phone_verification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phone_verification
    ADD CONSTRAINT phone_verification_pkey PRIMARY KEY (id);


--
-- Name: project_notes project_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_notes
    ADD CONSTRAINT project_notes_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: requirements requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT requirements_pkey PRIMARY KEY (id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: stages stages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stages
    ADD CONSTRAINT stages_pkey PRIMARY KEY (id);


--
-- Name: task_responsible_persons task_responsible_persons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_responsible_persons
    ADD CONSTRAINT task_responsible_persons_pkey PRIMARY KEY (task_id, participant_id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: conversations uk3hanmagcowfim12fhpdnekj2u; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT uk3hanmagcowfim12fhpdnekj2u UNIQUE (project_id);


--
-- Name: requirements uk64y763kyjfolr8jdxh2dfsnib; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT uk64y763kyjfolr8jdxh2dfsnib UNIQUE (sample_file_id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: chat_messages ukf8prmk3j2te6am731i3ovyblv; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT ukf8prmk3j2te6am731i3ovyblv UNIQUE (attached_file_id);


--
-- Name: cities ukl61tawv0e2a93es77jkyvi7qa; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT ukl61tawv0e2a93es77jkyvi7qa UNIQUE (name);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: notifications fk13vcnq3ukas06ho1yrbc5lrb5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk13vcnq3ukas06ho1yrbc5lrb5 FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: organisations fk15j6hofdkkld53acp882j7bk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organisations
    ADD CONSTRAINT fk15j6hofdkkld53acp882j7bk FOREIGN KEY (id) REFERENCES public.users(id);


--
-- Name: document_signed fk33qlbdyxuoj4f28fqg92mbx3x; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_signed
    ADD CONSTRAINT fk33qlbdyxuoj4f28fqg92mbx3x FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: licenses fk35ryr6r5t0hnhxenshy5ftgud; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT fk35ryr6r5t0hnhxenshy5ftgud FOREIGN KEY (organisation_id) REFERENCES public.organisations(id);


--
-- Name: task_responsible_persons fk47vth4ge3n878xtp8c5o09d8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_responsible_persons
    ADD CONSTRAINT fk47vth4ge3n878xtp8c5o09d8 FOREIGN KEY (participant_id) REFERENCES public.participants(id);


--
-- Name: activity_logs fk5wnh8r1e5ffup2wu2shpwywak; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fk5wnh8r1e5ffup2wu2shpwywak FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: document_signed fk67csugsq6j1q00lxmo2n15jr0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_signed
    ADD CONSTRAINT fk67csugsq6j1q00lxmo2n15jr0 FOREIGN KEY (participant_id) REFERENCES public.participants(id);


--
-- Name: chat_message_mentions fk69wvs3u1hp5yydnchr3ms5s7d; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_message_mentions
    ADD CONSTRAINT fk69wvs3u1hp5yydnchr3ms5s7d FOREIGN KEY (message_id) REFERENCES public.chat_messages(id);


--
-- Name: notifications fk6fpt82588ru8v0imso3v8nan7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk6fpt82588ru8v0imso3v8nan7 FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: schedules fk6mu7v3088u6koha8kolxocotn; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT fk6mu7v3088u6koha8kolxocotn FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: document_have_to_sign fk8455gauwxqvrwa3yiw6ql2xph; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_have_to_sign
    ADD CONSTRAINT fk8455gauwxqvrwa3yiw6ql2xph FOREIGN KEY (participant_id) REFERENCES public.participants(id);


--
-- Name: conversation_participants fk84npv3fo2vwl7ut63im0p417q; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_participants
    ADD CONSTRAINT fk84npv3fo2vwl7ut63im0p417q FOREIGN KEY (conversation_id) REFERENCES public.conversations(id);


--
-- Name: document_have_to_sign fk8c3dpnouxbd1sykt78vian5sv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_have_to_sign
    ADD CONSTRAINT fk8c3dpnouxbd1sykt78vian5sv FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: activity_logs fkavkl7v9l6yfc9hhpaqi1q6f5u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fkavkl7v9l6yfc9hhpaqi1q6f5u FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: tasks fkaytv64txhqkthcbq8ir0q9al4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT fkaytv64txhqkthcbq8ir0q9al4 FOREIGN KEY (participant_id) REFERENCES public.participants(id);


--
-- Name: files fkbf6pb5mdsgg5if1g0d2yikpjb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT fkbf6pb5mdsgg5if1g0d2yikpjb FOREIGN KEY (task_id) REFERENCES public.tasks(id);


--
-- Name: licenses fkbhimi6qwr85ro53ykqtl8wivx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT fkbhimi6qwr85ro53ykqtl8wivx FOREIGN KEY (id) REFERENCES public.files(id);


--
-- Name: stages fkbxli2hdotaerpm717mn51p5x1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stages
    ADD CONSTRAINT fkbxli2hdotaerpm717mn51p5x1 FOREIGN KEY (schedule_id) REFERENCES public.schedules(id);


--
-- Name: comment fkc2rdhymylr3j7xfv609wkgi8m; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment
    ADD CONSTRAINT fkc2rdhymylr3j7xfv609wkgi8m FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: chat_messages fkc8ljv426x8fj9tcywei40stu9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT fkc8ljv426x8fj9tcywei40stu9 FOREIGN KEY (conversation_id) REFERENCES public.conversations(id);


--
-- Name: estimate_item fkd36bwdvcxbgusjor7gkl1xib9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estimate_item
    ADD CONSTRAINT fkd36bwdvcxbgusjor7gkl1xib9 FOREIGN KEY (estimate_id) REFERENCES public.estimates(id);


--
-- Name: files fkdgr5hx49828s5vhjo1s8q3wdp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT fkdgr5hx49828s5vhjo1s8q3wdp FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: participant_invitations fkdtir0d1enid8a52t8ueg0iy2a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participant_invitations
    ADD CONSTRAINT fkdtir0d1enid8a52t8ueg0iy2a FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: participant_invitations fke4fci0fkobbi2ons1jderegpx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participant_invitations
    ADD CONSTRAINT fke4fci0fkobbi2ons1jderegpx FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: requirements fke61827acbj7u1id9aity4jf58; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT fke61827acbj7u1id9aity4jf58 FOREIGN KEY (sample_file_id) REFERENCES public.files(id);


--
-- Name: task_dependencies fkerlktvi2bud6uauih348u0loj; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_dependencies
    ADD CONSTRAINT fkerlktvi2bud6uauih348u0loj FOREIGN KEY (task_id) REFERENCES public.tasks(id);


--
-- Name: organisation_specializations fkfe2sgxlpd70xtpnl06o20v94d; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organisation_specializations
    ADD CONSTRAINT fkfe2sgxlpd70xtpnl06o20v94d FOREIGN KEY (organisation_id) REFERENCES public.organisations(id);


--
-- Name: chat_messages fkfgeihv06ejowtub1hmwmmrysl; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT fkfgeihv06ejowtub1hmwmmrysl FOREIGN KEY (related_message_id) REFERENCES public.chat_messages(id);


--
-- Name: participants fkghixrahoj1s8cloinfx8lyeqa; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT fkghixrahoj1s8cloinfx8lyeqa FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chat_messages fkgiqeap8ays4lf684x7m0r2729; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT fkgiqeap8ays4lf684x7m0r2729 FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: projects fkhswfwa3ga88vxv1pmboss6jhm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fkhswfwa3ga88vxv1pmboss6jhm FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: estimates fki1sa7fe1aek0vj0ffgsedo29r; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estimates
    ADD CONSTRAINT fki1sa7fe1aek0vj0ffgsedo29r FOREIGN KEY (id) REFERENCES public.documents(id);


--
-- Name: projects fkj92bbqmi1dw9xdlk1t0eiyihr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fkj92bbqmi1dw9xdlk1t0eiyihr FOREIGN KEY (city_id) REFERENCES public.cities(id);


--
-- Name: files fkjr0eoqnlknqbqpq6in1780n57; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT fkjr0eoqnlknqbqpq6in1780n57 FOREIGN KEY (schedule_id) REFERENCES public.tasks(id);


--
-- Name: task_responsible_persons fkjud7yncpg7q3ti9v5q00y3ujp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_responsible_persons
    ADD CONSTRAINT fkjud7yncpg7q3ti9v5q00y3ujp FOREIGN KEY (task_id) REFERENCES public.tasks(id);


--
-- Name: tasks fkk0qqb3jrxpdgjhqcoxilrusxh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT fkk0qqb3jrxpdgjhqcoxilrusxh FOREIGN KEY (stage_id) REFERENCES public.stages(id);


--
-- Name: requirements fkld77tixpf1ssn1ip5mj7wx0s5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT fkld77tixpf1ssn1ip5mj7wx0s5 FOREIGN KEY (task_id) REFERENCES public.tasks(id);


--
-- Name: users fkn36jwt4acj3il2ixvv2c0ncco; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fkn36jwt4acj3il2ixvv2c0ncco FOREIGN KEY (city_id) REFERENCES public.cities(id);


--
-- Name: documents fkn3yorpjknmi88ikdmdrrkrp0g; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fkn3yorpjknmi88ikdmdrrkrp0g FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: task_dependencies fkn6qipbhgl3vk43xnf30han7mp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_dependencies
    ADD CONSTRAINT fkn6qipbhgl3vk43xnf30han7mp FOREIGN KEY (depends_on_task_id) REFERENCES public.tasks(id);


--
-- Name: project_notes fkna9vk66hrs0o59p78q3dml2ch; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_notes
    ADD CONSTRAINT fkna9vk66hrs0o59p78q3dml2ch FOREIGN KEY (author_id) REFERENCES public.users(id);


--
-- Name: files fkncpjdlvw4479eu6qnh5a4fo9t; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT fkncpjdlvw4479eu6qnh5a4fo9t FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: participant_invitations fknehftrcpc2ju4ovpk6h20d3nl; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participant_invitations
    ADD CONSTRAINT fknehftrcpc2ju4ovpk6h20d3nl FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: conversations fkob30xdhudq696qdn4sei6a8p8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT fkob30xdhudq696qdn4sei6a8p8 FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: participants fkoxosjp7kqjcbrexntfjj88w1j; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT fkoxosjp7kqjcbrexntfjj88w1j FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: chat_messages fkp987frops6xouq58epggck0q4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT fkp987frops6xouq58epggck0q4 FOREIGN KEY (attached_file_id) REFERENCES public.files(id);


--
-- Name: files fkq1bn0l66rmk4bxqci351t94hs; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT fkq1bn0l66rmk4bxqci351t94hs FOREIGN KEY (schedule_id) REFERENCES public.schedules(id);


--
-- Name: notifications fkqqnsjxlwleyjbxlmm213jaj3f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fkqqnsjxlwleyjbxlmm213jaj3f FOREIGN KEY (recipient_id) REFERENCES public.users(id);


--
-- Name: chat_message_mentions fkre9t6mje5qwiwfs20fuiqai9u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_message_mentions
    ADD CONSTRAINT fkre9t6mje5qwiwfs20fuiqai9u FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: conversation_participants fksj6frbk1w0urocy3snj9tk01i; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_participants
    ADD CONSTRAINT fksj6frbk1w0urocy3snj9tk01i FOREIGN KEY (participant_id) REFERENCES public.users(id);


--
-- Name: files fksyob75o8ditcnjt6ceo4ni97k; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT fksyob75o8ditcnjt6ceo4ni97k FOREIGN KEY (organisation_id) REFERENCES public.organisations(id);


--
-- Name: project_notes fktjdjq4rid4oi29uvs0sb2x9si; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_notes
    ADD CONSTRAINT fktjdjq4rid4oi29uvs0sb2x9si FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: files fkyxr6yly4wf6ansn30n5qu1tj; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT fkyxr6yly4wf6ansn30n5qu1tj FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- PostgreSQL database dump complete
--

