<main>
    <app-project-header></app-project-header>
    <div class="documents-tab">
        <div class="documents-header">
            <div>
                <h2>Документация</h2>
            </div>
        </div>

        <!-- <div class="documents-stats">
            <div class="stat-card">
                <span class="stat-label">Всего договоров</span>
                <strong>{{ 0 }}</strong>
            </div>
            <div class="stat-card">
                <span class="stat-label">Ждет рассмотрения</span>
                <strong>{{ 0 }}</strong>
            </div>
            <div class="stat-card">
                <span class="stat-label">Рассматривается</span>
                <strong>{{ 0 }}</strong>
            </div>
            <div class="stat-card">
                <span class="stat-label">Ждет подписания</span>
                <strong>{{ 0 }}</strong>
            </div>
            <div class="stat-card">
                <span class="stat-label">Активно</span>
                <strong>{{ 0 }}</strong>
            </div>
            <div class="stat-card">
                <span class="stat-label">В архиве</span>
                <strong>{{ 0 }}</strong>
            </div>
        </div> -->

        <div class="documents-toolbar">
            <input type="text" class="search-input" placeholder="Поиск по имени, категории, загрузчику..."
                [(ngModel)]="searchTerm" />

            <select class="filter-select" [(ngModel)]="selectedType" aria-placeholder="">
                <option value="ALL" disabled selected hidden>Тип файла</option>
                <option value="ALL">Все</option>
                <option value="PDF">PDF</option>
                <option value="DOCX">DOCX</option>
                <option value="XLSX">XLSX</option>
                <option value="IMAGE">Image</option>
                <option value="OTHER">Другие</option>
            </select>

            <select class="filter-select" [(ngModel)]="selectedStatus">
                <option value="ALL" disabled selected hidden>Статус</option>
                <option value="ALL">Все</option>
                <option value="ACTIVE">Active</option>
                <option value="PENDING">Pending</option>
                <option value="ARCHIVED">Archived</option>
            </select>

            <label class="upload-btn">
                <input type="file" multiple hidden (change)="onFilesSelected($event)" />
                Upload documents
            </label>
        </div>

        <div class="documents-table-wrapper" *ngIf="filteredDocuments.length > 0; else emptyState">
            <table class="documents-table">
                <thead>
                    <tr>
                        <th>Документ</th>
                        <th>Автор загрузки</th>
                        <th>Дата</th>
                        <th>Статус</th>
                        <th class="actions-col">Действия</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let doc of filteredDocuments; trackBy: trackByDocId">
                        <td>
                            <div class="document-name-cell">
                                <span class="file-icon">{{ getFileIcon(doc.type) }}</span>
                                <div>
                                    <div class="document-name">{{ doc.name }}</div>
                                    <div class="document-type">{{ doc.type }}</div>
                                </div>
                            </div>
                        </td>

                        <td>{{ doc.uploadedBy }}</td>
                        <td>{{ doc.uploadedAt }}</td>

                        <td>
                            <span class="status-badge" [ngClass]="{
                'status-active': doc.status === 'IN_PROGRESS',
                'status-pending': doc.status === 'APPROVAL',
                'status-archived': doc.status === 'COMPLETED'
              }">
                                {{ statusLabels[doc.status] }}
                            </span>
                        </td>

                        <td class="actions-col">
                            <div class="action-buttons">
                                <button class="action-btn" (click)="onPreview(doc)">Preview</button>
                                <button class="action-btn" (click)="onDownload(doc)">Скачать</button>
                                <button class="action-btn danger" (click)="onDelete(doc.id)">Удалить</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ng-template #emptyState>
            <div class="empty-state">
                <div class="empty-icon">🗂️</div>
                <h3>Документы не найдены</h3>
                <p>Попробуйте изменить фильтры или загурзить документ</p>
            </div>
        </ng-template>

    </div>
</main>