<div class="dashboard-container">
  <div class="dashboard-card" routerLink="/create-project">
    <img src="https://static.tildacdn.com/tild3365-6136-4931-b038-613666303838/architect_17234330.png" alt="Создать новый проект" class="card-icon">
    <span class="card-title">Создать новый проект</span>
  </div>

  <div class="dashboard-card" routerLink="/my-projects">
    <img src="https://cdn2.iconfinder.com/data/icons/real-estate-1-0-1/1024/building_construction-512.png" alt="Мои проекты" class="card-icon">
    <span class="card-title">Мои проекты</span>
  </div>
</div>