<div class="admin-edit-container">
  <h2>Редактирование организации</h2>
  <p>ID организации: {{ organisationId }}</p>
  <form [formGroup]="organisationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Название организации</label>
      <input id="name" formControlName="name" class="form-input">
    </div>
    <div class="form-group">
      <label for="iinBin">ИИН/БИН</label>
      <input id="iinBin" formControlName="iinBin" class="form-input">
    </div>
    <div class="form-group">
      <label for="address">Адрес</label>
      <input id="address" formControlName="address" class="form-input">
    </div>
    <div class="form-group">
      <label for="directorFullName">ФИО директора</label>
      <input id="directorFullName" formControlName="directorFullName" class="form-input">
    </div>
    <div class="form-group">
      <label for="directorPosition">Должность директора</label>
      <input id="directorPosition" formControlName="directorPosition" class="form-input">
    </div>
    <div class="form-group">
      <label for="type">Тип организации</label>
      <select id="type" formControlName="type" class="form-input">
        <option *ngFor="let option of organisationTypeOptions" [value]="option.key">{{ option.value }}</option>
      </select>
    </div>
    <div class="form-group">
        <label>Специализации</label>
        <div formGroupName="specialization" class="specialization-checkbox-group">
            <div *ngFor="let option of specializationOptions" class="checkbox-container">
                <input type="checkbox" [formControlName]="option.key" [id]="'spec-' + option.key">
                <label [for]="'spec-' + option.key">{{ option.value }}</label>
            </div>
        </div>
    </div>
    <div class="form-group">
      <label for="yearsOfExperience">Опыт работы (лет)</label>
      <input id="yearsOfExperience" type="number" formControlName="yearsOfExperience" class="form-input">
    </div>
    <div class="form-group">
      <label for="cityId">Город</label>
      <select id="cityId" formControlName="cityId" class="form-input">
        <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" class="form-input">
    </div>
    <div class="form-group">
      <label for="phone">Телефон</label>
      <input id="phone" formControlName="phone" class="form-input">
    </div>

    <button type="submit" class="form-button">Сохранить изменения</button>
  </form>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
