<header class="app-header">
  <div class="logo-section">
    <span class="logo-sq">SQ</span>
    <span class="logo-smartqurylys">SMARTQURYLYS</span>
  </div>
</header>

<div class="dashboard-container">
  <div class="dashboard-card" routerLink="/registerOrg">
    <img src="https://static.tildacdn.com/tild3365-6136-4931-b038-613666303838/architect_17234330.png" alt="Создать новый проект" class="card-icon">
    <span class="card-title">ЮРИДИЧЕСКОЕ ЛИЦО</span>
  </div>

  <div class="dashboard-card" routerLink="/registerUser">
    <img src="https://cdn2.iconfinder.com/data/icons/real-estate-1-0-1/1024/building_construction-512.png" alt="Мои проекты" class="card-icon">
    <span class="card-title">ФИЗИЧЕСКОЕ ЛИЦО</span>
  </div>
</div>
