.layer1 {
    display: flex;
    align-items: center;
}

.layer1 span {
    margin: 24px;
    margin-left: 24px;
    font-weight: bold;
    color: #1D1D1F;
    font-size: 18px;
}

.create-btn {
    margin-left: auto;
    margin-right: 24px;
    background: #4a6cf7;
    border: none;
    color: whitesmoke;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.search input {
    margin-left: 24px;
    width: 60%;
    padding: 4px 10px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    outline: none;
    font-size: 16px;
}

.search input:focus {
    border-color: #4195BF;
}

.toolbar {
    display: flex;
    gap: 12px;
    align-items: center;
}

input,
select {
    padding: 10px 12px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    font: inherit;
}

.projects {
    margin: 26px 0px;
}

.project-item {
    display: grid;
    grid-template-columns: 5fr 3fr auto;
    padding: 8px 26px;
    padding-left: 36px;
    align-items: center;
    font-size: 14px;
    color: #1D1D1F;
}

.project-status {
    font-size: 14px;
    border-radius: 16px;
    color: white;
    padding: 2px 8px;
}

.project-item button:last-child {
    justify-self: end;
}

.project-item:has(.star-button:hover) {
    background: transparent;
}

.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-item:hover {
    background: #3d3d3d1f;
    cursor: pointer;
}

.favorite-btn {
    width: 36px;
    height: 36px;

    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: none;
    cursor: pointer;
}

.favorite-btn img {
    object-fit: contain;
}

.favorite-btn:hover {
    background: #2424240e;
    transition: background ease 0.3s;
}


.status-draft {
    background-color: #fff7e6;
    color: #fa8c16;
}

.status-active {
    background-color: #e6f4ff;
    color: #1677ff;
}

.status-pause {
    background-color: #f0f5ff;
    color: #2f54eb;
}

.status-completed {
    background-color: #f6ffed;
    color: #52c41a;
}

.status-cancelled {
    background-color: #fff1f0;
    color: #ff4d4f;
}
