:host {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
}

.toast {
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.toast.show {
    opacity: 1;
}

.toast.success {
    background-color: #4CAF50; /* Green */
}

.toast.error {
    background-color: #f44336; /* Red */
}
