<div class="info-card">
    <div class="info-row">
        <div class="label">Статус</div>
        <div class="value">
            <span class="status-badge">{{PROJECT_STATUS_RU[project.status]}}</span>
        </div>
    </div>

    <div class="info-row">
        <div class="label">Дата начала</div>
        <div class="value muted">—</div>
    </div>

    <div class="info-row">
        <div class="label">Дедлайн</div>
        <div class="value muted">—</div>
    </div>

    <div class="info-row">
        <div class="label">Автор</div>
        <div class="value author">
            <img src="assets/icon_profile-picture.png" class="avatar" />
            <span>{{ project.ownerName }}</span>
        </div>
    </div>

    <div class="info-row highlighted">
        <div class="label">Ответственный</div>
        <div class="value muted">—</div>
    </div>

    <div class="info-row">
        <div class="label">Тип проекта</div>
        <div class="value muted">—</div>
    </div>

    <div class="info-row">
        <div class="label">Рейтинг</div>
        <div class="value muted">—</div>
    </div>
</div>
